@page "/modify-users"
@using DTOs
@using Infrastructure.API
@using MudBlazor
@inject SessionService Session
@inject ISnackbar Snackbar

<h3>Modificar Usuarios</h3>
@if (!Session.IsAuthenticated || Session.Context.User.UserType != "Admin")
{
    <p>No autorizado</p>
}
else if (isLoading)
{
    <MudProgressCircular Indeterminate="true" Color="Color.Secondary" Size="MudBlazor.Size.Medium" StrokeWidth="6" />
}
else if (errorMessage != null)
{
    <div>ERROR: @errorMessage</div>
}
else
{
    <MudDataGrid Items="@elements"
                 ReadOnly="false"
                 EditMode="DataGridEditMode.Form"
                 CommittedItemChanges="@OnCommittedItemChangesHandler"
                 EditTrigger="DataGridEditTrigger.Manual"
                 Bordered="true"
                 Dense="true">
        <Columns>
            <PropertyColumn Property="x => x.Name" Title="Nombre" />
            <PropertyColumn Property="x => x.SurName" Title="Apellido" />
            <PropertyColumn Property="x => x.UserName" Title="Usuario" />
            <PropertyColumn Property="x => x.UserType" Title="Tipo">
                <EditTemplate>
                    <MudSelect @bind-Value="context.Item.UserType" Required Margin="Margin.Dense">
                        <MudSelectItem Value="@("Admin")">Admin</MudSelectItem>
                        <MudSelectItem Value="@("Voluntario")">Voluntario</MudSelectItem>
                        <MudSelectItem Value="@("Transito")">Tránsito</MudSelectItem>
                    </MudSelect>
                </EditTemplate>
            </PropertyColumn>
            <PropertyColumn Property="x => x.DNI" Title="DNI" />
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudIconButton Size="Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@context.Actions.StartEditingItemAsync" />
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
}

@code {
    private bool isLoading = true;
    private string? errorMessage = null;
    private List<UserDTO> elements = new();

    protected override async Task OnInitializedAsync()
    {
        var result = await ApiClientsFactory.UserClient().GetAllAsync();
        isLoading = false;
        if (!result.Success)
        {
            errorMessage = result.Message;
            return;
        }
        elements = result.Data!.ToList();
    }

    private async Task OnCommittedItemChanges(UserDTO user)
    {
        var updateResult = await ApiClientsFactory.UserClient().PutAsync(user.Id, user);
        if (updateResult.Success)
        {
            Snackbar.Add($"Usuario {user.UserName} actualizado", Severity.Success);
        }
        else
        {
            Snackbar.Add($"Error: {updateResult.Message}", Severity.Error);
        }
    }

    private EventCallback<UserDTO> OnCommittedItemChangesHandler =>
        EventCallback.Factory.Create<UserDTO>(this, OnCommittedItemChanges);
}