@using Microsoft.AspNetCore.Components.Authorization
@inject SessionService Session

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>


@code {
    /*
     * PARA AUTENTICACION EN CASCADA
     *<CascadingAuthenticationState>
     <CascadingValue Value="Session.Context" IsFixed="false">

         </CascadingValue>
</CascadingAuthenticationState>
     */
    protected override async Task OnInitializedAsync()
    {
        // reload session context
        await Session.HydrateAsync();
    }
}